.wrapper {
    width: 420px;
    min-height: 520px;
    background: rgb(253, 148, 42);
    color: #ffffff;
    border-radius: 10px;
    padding: 30px 40px;
    position: relative;
    overflow: hidden;
    transition: min-height 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wrapper.active {
    min-height: 650px;
  }
  .form-box {
    width: 100%;
    padding: 40px;
    background: rgb(253, 148, 42);
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  form h2 {
    font-size: 36px;
    text-align: center;
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 20px; 
  }

  .form-box.login {
    opacity: 1;
    transform: translateX(0);
    position: relative;
  }
  
  .form-box.login.hidden {
    opacity: 0;
    transform: translateX(-100%);
    position: absolute;
  }

  .form-box.register {
    opacity: 0;
    transform: translateX(100%);
    position: absolute;
  }
  
  .form-box.register.visible {
    opacity: 1;
    transform: translateX(0);
    position: relative;
  }

  .form-box.forgot {
    .form-box.forgot {
        opacity: 0;
        transform: translateY(100%);
        position: absolute;
        background: rgb(252, 89, 48); 
      }
      
  }
  
  .form-box.forgot.visible {
    opacity: 1;
    transform: translateY(0);
    position: relative;
  }

  .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
  }
  
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
  }
  
  .input-box input::placeholder {
    color: #fff;
  }
 
  .input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
  }
 
  form button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
  }

  .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0;
  }
  
  .register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  
  .register-link p a:hover {
    text-decoration: underline;
  }
 
  .hidden {
    display: none;
  }
  
  .visible {
    display: flex;
  }
  